@{
    ViewData["Title"] = "Home Page";
}

<h3>DB DIAGRAM LIBRARY</h3>
<h5>
    <a asp-action="Index" asp-controller="Home">DB DIAGRAM COMPANY</a> - 
    <a asp-action="Db" asp-controller="Home" class="active">DB DIAGRAM LIBRARY</a> -
    <a asp-action="Er" asp-controller="Home">ER MODEL COMPANY</a> - 
    <a asp-action="Rm" asp-controller="Home">RELATIONAL MODEL LIBRARY</a>
</h5>
<div class="text-center">
    <div style="width:80%;margin:auto">
        <img src="~/images/DB_DIAGRAM_LIBRARY.png" style="width:100%;height:auto" />
    </div>
</div>
<style>
    a.active {
        font-weight: bold;
        color: darkblue; 
    }

</style>
