@{
    ViewData["Title"] = "Home Page";
}

<h1>ER Model</h1>
<a asp-action="Index" asp-controller="Home">View Database Diagram</a>
<div class="text-center">
    <div style="width:80%;margin:auto">
        <img src="~/images/er_model.png" style="width:100%;height:auto" />
    </div>
</div>
