@{
    ViewData["Title"] = "Home Page";
}

<h1>Database Diagram</h1>
<a asp-action="Er" asp-controller="Home">View ER Model</a>
<div class="text-center">
    <div style="width:80%;margin:auto">
        <img src="~/images/db_diagram.png" style="width:100%;height:auto" />
    </div>
</div>

