@{
    ViewData["Title"] = "Home Page";
}

<h3>Relational Model</h3>
<h5>
    <a asp-action="Index" asp-controller="Home">DB DIAGRAM COMPANY</a> - 
    <a asp-action="Db" asp-controller="Home">DB DIAGRAM LIBRARY</a> - 
    <a asp-action="Er" asp-controller="Home">ER MODEL COMPANY</a> - 
    <a asp-action="Rm" asp-controller="Home" class="active">RELATIONAL MODEL LIBRARY</a>
</h5>
<div class="text-center">
    <div style="width:80%;margin:auto">
        <img src="~/images/RELATIONAL_MODEL.png" style="width:100%;height:auto" />
    </div>
</div>
<style>
    a.active {
        font-weight: bold;
        font-size: 20px;
        color: darkblue;
    }

</style>
